## Python Basics Tutorial
### Data Types

In [1]:
a = 5
b = 4

c = a + b
print('c')

c

In [2]:
c

9

In [3]:
print(c)

9

In [4]:
type(c)

int

### List

In [5]:
Fruit=["Banana","Mango","Grapes"]

In [6]:
print(Fruit)

['Banana', 'Mango', 'Grapes']

In [7]:
Fruit[0]

'Banana'

In [8]:
Price=[40,120,150]

In [9]:
print(Price)

[40, 120, 150]

In [10]:
Fruit.append("Cherry")

In [11]:
print(Fruit)

['Banana', 'Mango', 'Grapes', 'Cherry']

In [12]:
Price.append(300)

In [13]:
print(Price)

[40, 120, 150, 300]

In [14]:
Price.append("Fruit prices")

In [15]:
print(Price)

[40, 120, 150, 300, 'Fruit prices']

In [16]:
Price.append([1,2,3,4])

In [17]:
print(Price)

[40, 120, 150, 300, 'Fruit prices', [1, 2, 3, 4]]

In [18]:
Price[5][2]

3

In [19]:
a=[1,2,3,4]
b=[3,4,5,6]

In [20]:
total_income=a+b

In [21]:
total_income

[1, 2, 3, 4, 3, 4, 5, 6]

In [22]:
len(a)

4

In [23]:
total_income=[]

L=len(a)
for i in range(L):
    first_income=a[i]
    second_income=b[i]
    income=first_income+second_income
    total_income.append(income)

In [24]:
total_income

[4, 6, 8, 10]

In [25]:
import numpy as np

In [26]:
A=np.array(a)
B=np.array(b)

In [27]:
print(A)
print(B)

[1 2 3 4]
[3 4 5 6]

### Tuples

In [28]:
zip_codes=("NY","MS","TX")

In [29]:
zip_codes

('NY', 'MS', 'TX')

In [30]:
type(zip_codes)

tuple

In [31]:
zip_codes[1]="US"

TypeError: 'tuple' object does not support item assignment

### Dictionary

In [32]:
Zip_Codes={'Nagpur':'440022','Delhi':'345500','Chennai':'001122'}

In [33]:
Zip_Codes

{'Nagpur': '440022', 'Delhi': '345500', 'Chennai': '001122'}

In [34]:
type(Zip_Codes)

dict

In [35]:
Zip_Codes['Nagpur']

'440022'